@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

$blue: #16afb5; 
$green: #75ce3e; 

body {
	background: black; 
	// @include font-face(open-sans, light, 200);
	font-family: 'Open Sans', sans-serif;
}

.banner-container {
	max-width: 900px;
}

.banner-content {
	text-transform: uppercase;
	max-width: 500px;
	margin: 0 auto; 

	h1 {
		text-align: center; 
		font-size: 52px;
		font-weight: 800; 
		color: white;
		margin-top: 0;
		margin-bottom: 0; 
	}
	
	p {
		font-size: 24px; 
		font-weight: 500; 

		&:first-child {
			color: $blue; 
			text-align: left;
			margin-bottom: 0;
		}
		
		&:last-child {
			color: $green; 
			text-align: right; 
			margin-top: 0;
		}
	}

}

// .banner {
// 	background-image: url(../img/banner.jpg); 
// 	height: 694px; 
// 	width: 1163px; 
// }